body{background-color: rgb(245, 245, 157);}
h1{color: rgb(240, 52, 77);}
h2{color: rgb(61, 100, 228);}
h3{color: rgb(216, 86, 47);}
#prvi{border: 2px solid salmon;
      background-color: rgb(243, 173, 166);}
table,th,td{border-color: rgb(157, 73, 236);}